<div class="card" (mouseleave)="onMouseLeave()" (mouseenter)="onMouseEnter()">
    <div (mouseenter)="onMouseEnter()" class="titleWrapper" [class.dependent]="isDepenpency">
        <div class="title" *ngIf="nameParts.length > 1">
            <p><span class="namespace">{{ nameParts[0] }}/</span>{{nameParts[1]}}</p>
        </div>
        <p class="title" *ngIf="nameParts.length == 1">{{ nameParts[0] }}</p>
    </div>
    <hr>
    <div class="info">
      <span>{{ formattedDownloads }} downloads</span>
      <span>{{ pkg.dependencyCount }} dependencies</span>
    </div>
</div>